#cookie {
	width: 300px;
	display: none;
}

#cookie2 {
	width: 300px;
	display: none;
}

h1 {
	display: none;
}

h2 {
	display: none;
}

#reset {
	display: none;
}

#winner {
	display: none;
}

#winner2 {
	display: none;
}