#cookie {
	width: 300px;
	display: none;
}

#cookie2 {
	width: 300px;
	display: none;
}

h1 {
	display: none;
	font-family: cursive;
}

h2 {
	display: none;
	font-family: cursive;
}

h3 {
	font-family: cursive;
}

#reset {
	display: none;
}

#winner {
	display: none;
	font-family: cursive;
}

#winner2 {
	display: none;
	font-family: cursive;
}

button {
	width: 150px;
	height: 100px;
	background-color: #000099;
	margin-top: 20px;
	margin-right: 19px;
	color: white;
	font-family: cursive;
}

body {
    background-image: url(images/dark_embroidery.jpg)
}

#clicks1 {
	font-family: sans-serif;
	color: red;
}

#clicks2 {
	font-family: sans-serif;
	color: red;
}

#hi1 {
	color: #000099;
	margin-bottom: 20px;
	border: 3px solid #000099;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	width: 250px;

}

#hi2 {
	color: #000099;
	margin-bottom: 20px;
	border: 3px solid blue;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	width: 250px;
}

.intro {
	color: red;
	margin-bottom: 20px;
}

* {
	text-align: center;
	margin: auto;
}

img {
	margin-top: 40px;
	margin-bottom: 50px;
}